.search {
  background: white;
  color: gray;
  border: none;
  width: 150px;
  height: 30px;
  background-image: url(../../assets/icon-search.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 8px;
  padding-left: 36px;
  padding-right: 16px;
}