.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  height: 60px;
  background: transparent;
}

.navbar span {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
}

.navbar span:hover {
  color: #FF0000;
  cursor: pointer;
}

.bag {
  padding: 8px;
}

.bag:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}