.productPhotos {
  background-color: #C4C4C4;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.mainImg {
  width: 55%;
  height: 50%;
  max-height: 500px; 
}

.imgGrid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.imgGrid img {
  width: 30%;
  height: 80%;
}


@media (max-width: 1368px) {
  .mainImg {
    max-width: 350px;
    max-height: 250px; 
  }
}

@media (max-width: 768px){
  .imgGrid {
    flex-direction: column;
  }
  .mainImg {
    width: 500px;
    height: 400px;
  }
}